/.git
/.dockerignore
.byebug_history

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/.keep

/.bundle
/Dockerfile
/node_modules
/public/assets
/public/uploads
/vendor/bundle
/config/master.key
/config/application.yml
