---
apiVersion: v1
kind: Secret
metadata:
  name: amz-selenium-web-mysql-env
data:
  MYSQL_PASSWORD: bXlzcWwtc2VjcmV0 # echo -n "mysql-secret" | base64
  MYSQL_ROOT_PASSWORD: bXlzcWwtcm9vdC1zZWNyZXQ= # echo -n "mysql-root-secret" | base64
