---
apiVersion: v1
kind: Secret
metadata:
  name: amz-selenium-web-rails-env
data:
  RAILS_MASTER_KEY: MTIz   # echo -n "123" | base64
  MACHINE_PASSWORD: bWFjaGluZS1zZWNyZXQ=
  MYSQL_PASSWORD: bXlzcWwtc2VjcmV0
  REDIS_URL: cmVkaXM6Ly86cmVkaXMtc2VjcmV0QGFtei1zZWxlbml1bS13ZWItcmVkaXM6NjM3OS8w
  REDIS_PASSWORD: cmVkaXMtc2VjcmV0
  SIDEKIQ_USERNAME: c2lkZWtpcS1zZWNyZXQ=
  SIDEKIQ_PASSWORD: c2lkZWtpcS1zZWNyZXQ=
